<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Ben">

	<!-- 밴 된 회원 조회 -->
	<select id="viewBen" resultType="com.learning.app.dto.BenDTO">
		SELECT *
		FROM (SELECT rownum AS
		rnum, subquery.*
		FROM(SELECT user_id
		, user_nickname
		, ben_reason
		,
		ben_start_date
		, (ben_start_date + ben_period) AS ben_end_date
		,
		ben_period
		FROM tbl_user u
		JOIN tbl_ben b
		ON u.user_number = b.user_num
		WHERE ben_status = 1)
		subquery)
		WHERE rnum between ${startRow} AND #{endRow}
	</select>

	<!-- 벤 된 회원 수 조회 -->
	<select id="benedUserNumber" resultType="int">
		select count(*) as
		bendedUsers
		from tbl_ben
	</select>

	<!-- 벤 취소 -->
	<delete id="cancelBen" parameterType="String">
		UPDATE tbl_ben
		SET
		ben_status = 0
		WHERE user_num = (SELECT user_number
		FROM tbl_user
		WHERE user_nickname = #{userNickname})
	</delete>

	<!-- 밴 횟수 추가 -->
	<update id="plusBenCnt" parameterType="String">
		UPDATE tbl_user
		SET
		user_ben_cnt = user_ben_cnt + 1
		WHERE user_nickname = #{userNcikname}
	</update>

	<!-- 벤 회원 추가 -->
	<insert id="ben" parameterType="com.learning.app.dto.BenDTO">
		INSERT INTO tbl_ben b(ben_number,
		user_num, ben_start_date, ben_period, ben_reason)
		VALUES
		(seq_ben.nextval,
		(SELECT user_number
		FROM tbl_user u
		WHERE
		u.user_nickname = #{userNickname}),
		sysdate,
		#{benPeriod},
		#{benReason})
	</insert>
	
	<!-- 밴 회원 중복 검사 -->
	<select id="check" parameterType="String" resultType="int">
		SELECT	count(*)
		FROM	tbl_ben
		WHERE 	ben_status = 1
		AND		user_num = (SELECT	user_number
							FROM	tbl_user
							WHERE	user_nickname = #{userNickname})
	</select>
</mapper>