<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>learnning</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>myPage</servlet-name>
		<servlet-class>com.learning.app.mypage.MyPageFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>myPage</servlet-name>
		<url-pattern>*.my</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>com.learning.app.user.UserFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>*.us</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>com.learning.app.admin.AdminFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>*.ad</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Forum</servlet-name>
		<servlet-class>com.learning.app.partyforum.ForumFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Forum</servlet-name>
		<url-pattern>*.fo</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Community</servlet-name>
		<servlet-class>com.learning.app.community.CommunityFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Community</servlet-name>
		<url-pattern>*.cf</url-pattern>
	</servlet-mapping>


</web-app>